/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


.header_area{
    min-height: 600px;
    background-image: url(../img/sliderbackground.jpg);
    background-position: center center;
    background-size: cover;
}
.container{}
.row{}
.col-lg-12{}
.header_text{
    margin-top: 160px;
    font-size: 24px;
    color: #ffffff;
    width: 453px;
    margin-left: 100px;
}
.our_icons{}
.our_icons a{
    color: #ffffff;
    padding: 10px;
    border-radius: 50px;
    background: #333;
    margin-right: 7px;
}
.our_icons a:hover{
    background:#2ECC71;
}
.our_icons a i {
    height: 25px;
    width: 26px;
}
.our_icons a i.apple_icon {
    padding-left: 3px;
}
.our_icons a i.android_icon {
    padding-left: 3px;
}
.our_icons a i.windows_icon {
    padding-left: 1px;
}
.fa{}
.fa-apple{}
.fa-android{}
.fa-windows{}
.advertise_area{}
.col-lg-4{}
.single_advertise{
    margin-bottom: 60px;
    margin-top: 60px;
    text-align: center;
}
.single_advertise i{
    color: #FFFFFF;
    background: #2ECC71;
    border-radius: 50px;
    font-size: 44px;
    padding: 20px;
    width: 85px;
}
.single_advertise h2{
    font-size: 22px;
}
.single_advertise p{
    font-size: 16px;
}
.fa-cog{}
.fa-star{}
.fa-globe{}
.email_subscription_area{
    background: #E3E3E3;
    padding-top: 60px;
    padding-bottom: 60px;
}
.col-lg-6{}
.newsletter_signup{}
.newsletter_signup h2{
    font-size: 22px;
    color: #222222;
}
.newsletter_signup p{
    font-size: 16px;
}
.newsletter_signup_from{}
.newsletter_signup_from input[type=text]{
    float: left;
    border: 1px solid #C8C8C8;
    padding: 10px;
    border-radius: 10px 0 0 10px;
}
.newsletter_signup_from input[type=submit]{
    float: left;
    border: none;
    background: #2ECC71;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    padding: 13px;
    border-radius: 0 10px 10px 0;
    padding-right: 15px;
    padding-left: 15px;
        
}
.newsletter_video{}
.author_testimonial{
    
}
.testimonial_area{
    
}
.testimonial_area .tab-pane{
    
}

.testimonial_area .tab-pane p{
    margin-top: 20px;
    font-size: 18px;
    font-style: italic;
    color: #848484;
    text-align: center;
    
}

.testimonial_area .tab-pane h3{
    font-weight: bold;
    font-size: 18px;
    color: #2e2e2e;
    text-align: center;
}
.author_list{
    text-align: center;
}
.author_list ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    
}

.author_list li{
    display: inline;
    
}

.author_list li a{
    display: inline-block;
    
}
.social_media{}
.social_media h2{
    text-align: center;
    font-size: 24px;
    color: #000000;
}
.social_media p{
    text-align: center;
    font-size: 16px;
    color: #848484;
    
}
.social_media ul{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;padding-top: 10px;
    padding-bottom: 10px;
}
.social_media ul li{
    display: inline;
    text-align: center;
    padding: 10px;
    
}
.social_media ul li a{
    display: inline-block;
    background:#D4D4D4;
    border-radius: 50px;
    color: #ffffff;
    padding: 10px;
}
.social_media ul li a i{
    width: 25px;
    height: 25px;
    font-size: 25px;
}
.social_media ul li a:hover{
  background: #62D995;
}

.author_list li a:hover{
    color: #62AC66;
    
}
.footer_area{
    background: #E3E3E3;
}
.footer_menu{
    
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer_menu ul{
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer_menu ul li{
    display: inline;
}
.footer_menu ul li a{
    color: #B7B7B7;
    padding: 0 15px;
}
.footer_menu ul li a:hover{}

.hi{
    min-height: 200px;
}
